* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.wrapper {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eee;
}

.container {
    width: 900px;
    margin: 40px auto;
}

.header {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 1.8em;
    color: #0050c7;
}
