.btn {
    text-align: center;
    padding: 11px 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    cursor: pointer;
    max-width: 300px;
}

.primary {
    color: #0050c7;
    border: 1px solid #0050c7;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    transition: all 0.3s ease-out;

    &:hover {
        // color: lighten($color: $mainColor, $amount: 10);
        // border-color: lighten($color: $mainColor, $amount: 10);
        // background-color: darken($color: #fafafa, $amount: 10);
        // padding: 11px 17px;
        // border-right-width: 8px;
        // border-left-width: 8px;
        background-color: #0050c7;
        color: #fff;
    }
}

.icon {
    margin-right: 10px;
}
